/* body*/
body{
    background-color: #ebeae9;
    font-family: sans-serif;
}


/*Flash messages to the user*/

.flashes{
    background-color: aquamarine;
}

.flashes h4{
    text-align: center;
}

/* Characters list*/
.card{
    flex:1; 
	flex-flow:column;	
	min-width: 270px; 
	margin: 5px;
	padding: 10px;
	background-color: #ffdead;
    color: #232323;
    font-size: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-body h4{
    font-size: 18px;
    color: #880000;
    margin-top: 2px;
}

.card img{
    max-width: 100%;
    height: 250px;
    position: center;
    overflow: hidden;
    object-fit: cover;
    margin: 1px;
    border-radius: 4px;
    
}

.linktext {
	width: 100%;
	text-align: center;
	text-decoration: none;
    color: #880000;
    border: solid 1px;
}

.linktext:hover {
	color: #232323;
    cursor:pointer;
}

.fulltext{
    display: none;
}


/* Register Form */
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
   border-color: green;
}
input:focus:invalid {
    border-color: red;
}

/* Statistics */
