/*Flash messages to the user*/

.flashes{
    background-color: aquamarine;
}

.flashes h4{
    
}

/* Characters list*/
.col-lg-6 img{
    width: 100%;
}

.col-lg-2 img{
    width: 100%;
}



/* Register Form */
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
   border-color: green;
}
input:focus:invalid {
    border-color: red;
}

/* Statistics */
