/*Flash messages to the user*/

.flashes{
    background-color: aquamarine;
}

.flashes h4{
    text-align: center;
}

/* Characters list*/
.card{
    flex:1; 
	flex-flow:column;	
	min-width: 270px; 
	margin: 5px;
	padding: 10px;
	background-color: #ffdead;
    color: #231f20;
    font-family: monospace;
    font-size: 12px;
}

.card h4{
    font-size: 18px;
    color: #8d0134;
}

.card img{
    max-width: 100%;
    max-height: 250px;
    position: center;
    overflow: hidden;
    object-fit: contain;
    
}

.linktext {
	width: 100%;
	text-align: center;
	text-decoration: none;
    color: #8d0134;
    border: solid 1px;
}

.linktext:hover {
	color: #231f20;
    cursor:pointer;
}

.fulltext{
    display: none;
}


/* Register Form */
input:required:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}
input:required:focus:valid {
   border-color: green;
}
input:focus:invalid {
    border-color: red;
}

/* Statistics */
