{% extends "base.html" %}
{% block content %}
    <h3> Add a new Character to our list</h3>
    <form class="needs-validation" novalidate method="POST" action="">
        <div class="form-row">
            <div class="form-group col-auto">
                <label for="character_name">Character Name</label>
                <input type="text" class="form-control" id="character_name" name="character_name" placeholder="Woman Character Name" aria-describedby="inputGroupPrepend" minlength="2" maxlenght="25" required>
                <div class="invalid-feedback">
                Please choose a character name.
                </div>
            </div>
            <div class="form-group col-auto">
                <label for="character_name">Year of Birth</label>
                <input type="text" class="form-control" id="year" name="year" placeholder="Year of Birth" minlength="4" maxlenght="4">
            </div>
            <div class="form-group col-auto">
                <label for="category_name">Category</label>
                <select class="form-control" id="category_name" name="category_name" required>
                    <option value="" disabled selected>Choose category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="country">Country</label>
                <select class=" form-control countrypicker" id="country" name="country" required>
                
                </select>
            </div>
        </div>
        <div class="form-group">
                <label for="skill">Skilled Area</label>
        </div>
        <div class="form-group form-row ml-3">
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="warrior" name="warrior">
                <label class="form-check-label" for="warrior">
                     Warrior
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="intelectual" name="intelectual">
                <label class="form-check-label" for="intelectual">
                    Intelectual
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="politics" name="politics">
                <label class="form-check-label" for="politics">
                    Politics
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="science" name="science">
                <label class="form-check-label" for="science">
                    Science/Tech
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="artist" name="artist">
                <label class="form-check-label" for="artist">
                    Artist
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="pionneer" name="pionneer">
                <label class="form-check-label" for="pionneer">
                    Pionneer
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="activist" name="activist">
                <label class="form-check-label" for="activist">
                    Activist
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="leader" name="leader">
                <label class="form-check-label" for="leader">
                    Leader
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="sports" name="sports">
                <label class="form-check-label" for="sports">
                    Sports 
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="survivor" name="survivor">
                <label class="form-check-label" for="survivor">
                    Survivor
                </label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="rebel" name="rebel">
                <label class="form-check-label" for="rebel">
                    Rebel
                </label>
            </div>
        </div>
        <div class="form-group col-lg-8">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="quote" name="quote" rows="3"></textarea>
        </div>
        <div class="form-group col-lg-8">
            <label for="story">Story</label>
            <textarea class="form-control" id="story" name="story" rows="6" required maxlength="1000"></textarea>
        </div>
        <div class="form-group col-lg-8">
            <label for="knowmore">Link to know more</label>
            <textarea class="form-control" id="knowmore" name="knowmore" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="upload">Example file input</label>
            <input type="file" class="form-control-file" id="upload" name="upload">
        </div>

        <button class="btn btn-primary" type="submit">Submit Character</button>
        
    </form>
        {% for character in characters %}
            <p>Added by: {{ character.username }} </p>
        {% endfor %} 



{% endblock %}