{% extends 'base.html' %}
{% block content %}
    <h3 class="center-align mt-5 py-3">Admin Manage Form Fields</h3>

    <!-- Admin manage for Category -->
    
        <div class="row">
            <div class="col-6 center-align">
                <a href="{{ url_for ('add_category') }}" class="btn linktext">
                    Add Category <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>

        <div class="row">
            {% for category in categories %}
                <div class="col-12 m-2">
                    <div class="center-align">
                        <div class="row">
                            <h4 class="card-title col-4">{{ category.category_name }}</h4>
                        </div>
                        <div class="row">
                            <!-- we're calling the edit_category function, and passing through the category_id variable. That's going to be set
                                to the current category iteration within this Jinja for-loop at the top of the row class. 
                                Using dot-notation, it'll target this category's key of '_id' from MongoDB.-->
                            <div class="col-2">
                                 <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-action">Edit</a>
                            </div>
                            <div class="col-2">
                                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-action">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    <!-- Admin manage for Skill Area -->
        <div class="row mt-4">
            <div class="col-6 center-align">
                <a href="{{ url_for ('add_area') }}" class="btn linktext">
                    Add Skill Area <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>
        
        <div class="row mt-2">
            {% for area in skilled_area %}
                <div class="col-12 m-2">
                    <div class="center-align">
                        <div class="row">
                            <h4 class="card-title col-4">{{ area.area_name }}</h4>
                        </div>
                        <div class="row">
                            <!-- I deleted the edit button for areas since is not working-->
                            <div class="col-2">
                                <a href="{{ url_for('edit_area', area_id=area._id) }}" class="btn btn-action">Edit</a>
                            </div>
                            <div class="col-2">
                                <a href="{{ url_for('delete_area', area_id=area._id) }}" class="btn btn-action">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    

{% endblock %}