{% extends 'base.html' %}
{% block content %}
    <h2>Current List</h2>
    <div class="container">
        

        <div class="row">
            <div class="col-lg-6">
                column 1
                <img src="https://via.placeholder.com/300.jpg" alt="">
                
            </div>
            <div class="col-lg-6">
                column 2
                <div class="row">
                        <!--filters here-->
                </div> 
                <div class="row"> 
                    <!--ROW 1-->
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 1</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 2</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 3</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 4</p>
                    </div>
                </div>
                <div class="row">
                    <!--ROW 2-->
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 5</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 6</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 7</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 8</p>
                    </div>
                </div>
                <div class="row">
                    <!--ROW 3-->
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 9</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 10</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 11</p>
                    </div>
                    <div class="col-lg-2">
                        <img src="https://via.placeholder.com/150.jpg" alt="">
                        <p>Box 12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
{% endblock %}
   
    