{% extends 'base.html' %}
{% block content %}
    
    <div class="container">
        <h2>Current List of Women Characters</h2>
        <div class="row justify-content-center">
            
            <div class="col-lg-10">
                {% for character in characters %}
                <div class="row">
                    <a href="#" data-toggle="lightbox" data-gallery="gallery" 
                        data-title="<p>{{ character.woman_name }}</p>" class="col-md-4 modal-content" data-footer="
                            <div class='row modal-dialog-scrollable'>
                                <div class='col-12'>
                                    <h5 class='modal-title'>{{ character.woman_name }}</h5>
                                    <p><img src='{{ character.image }}' alt='{{ character.woman_name }}' width='50%' height='50%'></p>
                                    <h5>Category</h5> <p>{{ character.category_name }}</p>
                                    <h5>Year of Birth</h5> <p>{{ character.year }}</p>
                                    <h5>Country</h5> <p>{{ character.country }}</p>
                                    <h5>Skilled Area</h5> <p>{{ character.area_name }}</p>
                                    <h5>Quote</h5> <p>'{{ character.quote }}'</p>
                                    <h5>Story</h5> <p>{{ character.story }}</p>
                                    <p><a href='{{ character.more_link }}' target='_blank' title='Know more'>More Info</a></p>
                                    <p><em>Added by: {{ character.username }}</em></p>
                                </div>
                            </div>">
                    
                    <div class="row">
                        <img src="{{ character.image }}" class="img-fluid rounded col-lg-12 col-md-4">
                    </div>
                    </a>
                </div>
            {% endfor %}
        
            </div>
        </div>

        
    </div>

        
{% endblock %}
   
    