{% extends 'base.html' %}
{% block content %}
    
        <h2>Current List of Women Characters</h2>
    <!-- Search functionallity -->
        
            <div class="row card col-12 mt-5">
                
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="col-12">
                        <div class="input-field ">
                            <i class="fas fa-search"></i>
                            <input type="text" name="query" id="query" minlength="3" required>
                            <label for="query">Search Characters</label>
                        </div>
                        <div class="col-12 search-buttons">
                            <a href="{{ url_for('characters') }}" class="btn btn-action">Reset</a>
                            <button type="submit" class="btn btn-action">
                                <i class="fas fa-search left"></i>Search
                            </button>
                        </div>
                    </div>
                    <!-- Filter functionallity by category-->
                    <div class="row col-10 category_filter">
                        Filter category
                        <div class="col-2">
                            <a class="filter" href="{{ url_for('filter_category', category_name='Historical') }}"><i class="fas fa-landmark"></i> Historical</a>
                        </div>
                        <div class="col-2">
                            <a class="filter" href="{{ url_for('filter_category', category_name='Fiction') }}"><i class="fas fa-journal-whills"></i> Fiction</a>
                        </div>
                        <div class="col-2">
                            <a class="filter" href="{{ url_for('filter_category', category_name='Myth') }}"><i class="fas fa-yin-yang"></i> Myth</a>
                        </div>
                        
                    </div>
                   
                </form>
                
            </div>
    
        <!--Characters gallery -->
        {% if characters|length > 0 %}
           <div class="row">
                {% for character in characters %}
                    <div class="card card-body col-lg-3">
                        <h4>{{ character.woman_name }}</h4>
                        <img src="{{ character.image }}" alt="{{ character.woman_name }}">
                        
                        <h5>Category</h5><p class="">{{ character.category_name }}</p>
                        <h5>Skilled Area</h5><p class="">{{ character.area_name }}</p>
                        <div class="fulltext">
                            <h5>Year of Birth</h5><p class="">{{ character.year }}</p>
                            <h5>Country</h5><p class="">{{ character.country_name }}</p>
                            <h5>Quote</h5><p class="">'{{ character.quote }}'</p>
                            <h5>Story</h5><p class="">{{ character.story }}</p>
                            <p class=""><a href="{{ character.more_link }}" target="_blank" title="Know more">More Info</a></p>
                            <p class=""><em>Added by: {{ character.username }}</em></p>
                        </div>
                        <button class="btn linktext" type="button">See full details</button>
                            
                        <!-- If the session user is = to the character's username variable, both in lowecase for comparison, then the buttons will be shown-->
                        {% if session.user | lower == character.username | lower %}
                            <div>
                                <a href="{{ url_for('edit_character', character_id=character._id) }}" class="btn">Edit</a>
                                <a href="{{ url_for('delete_character', character_id=character._id) }}" class="btn">Delete</a>
                            </div>
                            
                        {% endif %}
                        {% if session.user %}
                            <a class="btn" href="{{url_for('add_favourites', character_id=character._id)}}" title="add to favourites" aria-label="add to favourites">
                                <i class="fas fa-heart"></i>Add Fav</a>
                        
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="col-12 pagination">
                {{ pagination.info }}
                {{ pagination.links }}
            </div>
    <!-- if no characters where found in the search -->
         {% else %}
            <h3 class="red-text">No results found </h3>
         {% endif %} 
    
{% endblock %}
   
    