{% extends 'base.html' %}
{% block nav_statistics %}active{% endblock %}
{% block content %}
<!-- 
    <div class="row">
        <div class="col-10 offset-md-1 mt-5 py-5 mb-5">
            <div class="card">
                <h2>Statistics</h2>
                <p>Welcome to the results of our current Woman Character list.
                    Here you can see the current statistics related to all the characters that have been added so far by the users in our site according to different criteria.</p>
                <div class="container-fluid">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
                        width="500" height="400" src="https://charts.mongodb.com/charts-project-0-gsurj/embed/charts?id=df915e31-f305-4927-9f6d-b1d37c735cd1&theme=light">
                    </iframe>
                    <div class="row">
                        Notes about this chart
                    </div>
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
                        width="500" height="400" src="https://charts.mongodb.com/charts-project-0-gsurj/embed/charts?id=d3363fee-a8cf-4ddb-8c0e-2216d1578e3e&theme=light">
                    </iframe>
                    <div class="row">
                    Notes about this chart
                    </div>
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
                        width="500" height="400" src="https://charts.mongodb.com/charts-project-0-gsurj/embed/charts?id=b5c444db-9378-4cdd-a1b3-7de8b0569031&theme=light">
                    </iframe>
                    <div class="row">
                    Notes about this chart
                    </div>
                </div>
            </div>
        </div>
    </div>

-->
  
{% endblock %}